/* .container {
  margin-top: 20%;
} */

header img {
  max-width: 10%;
  display: inline-block;
  padding-left: 5%;
}

header h1 {
  display: inline-block;
  font-size: 5em;
  position: absolute;
  float: left;
  width: 50%;
  height: 30%;
  margin: auto;
}