.caption{
  /* height: 100px; */
  background-color: #656565;
  padding: 3px 3px;
}

.caption > h3, .caption > p{
  color: #d4d4d4;
  padding-left: 20px;
}

.caption > p{
  margin-top: -15px;
}

@media only screen and (max-width: 480px){
  img.img-responsive{
    width: 250px;
    height: 200px;
  }
  
}